@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
  }

@theme {
    --color-primary-color: #FFFFFF;
    --color-button: #330B51;
    --color-secondary: #FFB4C5;
    --color-text: #000000;
    --color-text-secondary: #330B51;
    --color-text-accent: #FFB4C5;
}